/* Global Styles */
* {
    box-sizing: border-box;
  }
  
  /* Body Styles */
  body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
  }
  
  /* Header Styles */
  header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Navigation Styles */
  li, nav {
    list-style-type: none;
    margin-right: 10px;
    float: left;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 5px;
  }
  
  nav a:link, nav a:visited, nav a:hover {
    color: goldenrod;
    text-decoration: none;
  }
  
  section a:link, section a:visited{
    color: black;

  }

  /* Section Styles */
  section {
    width: 100%;
    height: 1100px;
    text-align: center;
    clear: both;
    padding: 20px 20px;
    background-color: whitesmoke;
    margin: 15px;
    border-radius: 2px;
  }
  
  /* Section 1 Styles */
  .s1 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  /* Banner Styles */
  .Banner a {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  
  /* Section 2 Styles */
  .s2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    
  }
  
  /* Row 1 and Row 2 Styles */
  .r1, .r2 {
    
    width: 49.5%;
    float: left;
    border-radius: 5px;
  }

  .I{
    width: auto;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.75), 0 6px 20px 0 rgb(0, 0, 0);

  }

  .r3{
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    }
  
  
  /* Logo Styles */
  .LOGO {
    background-size: cover;
    background-position: center;
    max-width: 100%;
    max-height: 100%;
  }
  
  /* Image Styles */
  img {
    height: 100px;
    width: 100px;
    object-fit: cover;
  }
  
  /* Section 3 Styles */
  .s3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }
  
  /* Row 3 and Row 5 Styles */
  .r3, .r5 {
    width: 49.5%;
    float: left;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
  }

  .r5 p{
    width: 100%;
  }

  .r2 p{
    width: 80%;
  }
  
  /* Section 4 Styles */
  .s4 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    
  }
  
  /* Row 6 and Row 7 Styles */
  .r6, .r7 {
    margin: auto;
    height: 100%;
    width: 50%;
    background-image: url(WEBazhnds.jpg);
    background-size: cover;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  /* Row 8 Styles */
  .r8 {
    height: 100%;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    align-content: center;
    background-size: cover;
    background-position: left;
    border-radius: 5px;
  }
  
  /* Footer Styles */
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* Section 6 Styles */
  .s6 {
    height: 100%;
    width: 100%;
  }
  
  /* Typography Styles */
  h1 {
    color: goldenrod;
    text-transform: capitalize;
    vertical-align: center;
    margin: 50px 10px;
    font-size: 48px;
  }
  
  p {
    color: black;
    width: 50%;
    margin: auto;
    font-size: 24px;
  }
  
  /* Section 2, Section 3, and Section 4 Typography Styles */
  .s2 p, .s3 p, .s4 p {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.75), 0 6px 20px 0 rgb(0, 0, 0);
    margin: auto;
  }
  
  /* Section 3 Typography Styles */
  .s3 p {
    margin-bottom: 15%;
  }
  
  /* Section 7 Typography Styles */
  .s7 h1 {
    font-size: 96px;
  }
  
  .s7 p {
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  /* Section 2, Section 3, and Section 4 Header Styles */
  .s2 h1, .s3 h1, .s4 h1 {
    text-shadow: 5px 5px 5px black, 2px 2px 3px black;
  }
  
  /* Section 4, Section 3, and Section 2 Paragraph Styles */
   .s3 p, .s2 p {
    color: goldenrod;
    text-align: justify;
    background-color: rgba(233, 161, 37, 0.211);
    padding: 1vw;
    border-radius: 5px;
    text-shadow: 5px 5px 25px black, 2px 2px -15px black;
    margin-bottom: 25px;
  }

  .s4 p{
    color: black;
    text-align: justify;
    background-color: rgba(233, 161, 37, 0.49);
    padding: 1vw;
    border-radius: 5px;
    text-shadow: 5px 5px 25px black, 2px 2px -15px black;
  
  }
  
  /* Section 3 and Section 2 Paragraph Styles */
  /* .s3 p, .s2 p {
    color: white;
    text-shadow: 5px 5px 15px black;
    border-radius: 5px;
    padding: 1vw;
  } */
  
  /* Section Link Styles */
  section a {
    margin: 5vw 20px;
  }
  
  /* Section Div Link Styles */
  section div a {
    display: inline-block;
    height: 30px;
    width: 100px;
    text-align: center;
    padding: 5px 10px;
    background-color: goldenrod;
    border-radius: 10%;
    
  }
  
  section div a:hover {
    background-color: gold;
  }
  
  /* Form Styles */
  form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    height: 400px;
    align-items: center;
  }
  
  /* Label Styles */
  label {
    margin: 5px;
    padding: 5px;
    box-shadow: 0 2px 5px black;
    background-color: rgba(255, 255, 255, 0.519);
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    border-radius: 2px;
  }
  
  label p {
    width: 100px;
  }
  
  /* Input, Textarea, and Select Styles */
  input, textarea, select {
    margin: auto;
    width: calc(100% - 18px);
    border: 1px solid black;
    border-radius: 5px;
  }
  
  /* Button Styles */
  button {
    width: 50%;
    padding: 5px;
    border: none;
    background: #1c87c9;
    font-weight: 400;
    color: #fff;
  }
  
  button:hover {
    background: #2371a0;
  }
  
  .r6 {
    width: 100%;
  }

  hr{
    border: none;
  }
  
  footer a:link, a:visited {color: goldenrod; text-decoration: none;}

  .s7{
    height: 100%;
  }

  @media screen and (min-width: 200px) and (max-width: 768px) {
    .s1,.s2,.s3,.s4,.s5,.s6,.s7{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .r2 p,.r5 p{
        display: flex;
        justify-content: center;
        align-content: center;
    }
    section,div{height: 100%;}
    h1{font-size: 2rem;}
    p{font-size: 1rem;}
    
  }